<div class="container-fluid">
  <div class="row">
    <div class="card col-xs-8 col-sm-8 col-md-6 col-lg-5" style="width: 60%;height: 100%;">
      <div class="card-body col-lg-12">
        <h4 class="card-title col-12 p-0 m-0">Register to Space Portal</h4>
        <br>
        <form>
          <div class="form-group">
            <div class="row">
              <span class="col-xs-3 col-sm-4 col-md-4 col-lg-6 pb-1">
                <input type="input" id="sign_up_input" class="form-control" placeholder="First Name">
              </span>
              <span class="col-xs-3 col-sm-4 col-md-4 col-lg-6 pb-1">
                <input type="input" id="sign_up_input"  class="form-control" placeholder="Last Name">
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <span class="col-lg-6">
                <div class="form-group">
                  <input type="email"  id="sign_up_input"  class="form-control"  placeholder="Email">
                </div>
              </span>
              <span class="col-lg-6">
                <div class="form-group">
                  <input type="email"  id="sign_up_input"  class="form-control" placeholder="Confirm Email">
                </div>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <span class="col-lg-6">
                <div class="form-group">
                  <input type="password"  id="sign_up_input"  class="form-control" placeholder="Password">
                </div>
              </span>
              <span class="col-lg-6">
                <div class="form-group">
                  <input type="password"  id="sign_up_input"  class="form-control" placeholder="Confirm Password">
                </div>
              </span>
            </div>
          </div>
          <div class="row">
            <button type="submit" id="submit_btn" class="btn btn-primary">CREATE AN ACCOUNT</button>
          </div>
          <div class="row">
            <button type="button" id="discard_btn" class="btn btn-link">Have an account already?</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>