.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 5%;
    letter-spacing: 3px;
}
.card-title{
    margin: 0 auto;
    float: none;
    text-align: center;
}
#submit_btn{
    background-color: #ef7a76;
    border-color: #ef7a76;
    color: white;
    height: 3.5rem;
    width: 30%;
    margin-left: 50px;
    letter-spacing: 1px;
}
#logout_btn{
    height: 3.5rem;
    width: 30%;
    color: black;
    background-color: white;
    border-color: black;
    margin-left: 30px;
}